/* Core Styles */
body {
    background: rgb(11,11,11);
    scrollbar-color: rgb(50,50,50) rgb(11,11,11);
    scrollbar-width: thin;
}
a {
color: #239a9a;
font-weight: normal;
text-decoration: none;
}
a:hover {
color: #239a9a;
text-decoration: underline!important;
text-decoration-color:#239a9a;
}
/* Bootstrap Overrides */
.col {
    padding: 0px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.navbar {
    background: rgb(11,11,11,0);
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/* Section Styles */
.section-1 {
  position: relative;
  top: 100vh;
}
.logo-img {
    display: block;
    background: url('/img/logo.png');
    background-size: cover;
    width: 400px;
    height: 100px;
}
.logo {
  position: relative;
  width: 100%;
}
.body-text {
    background: rgb(11,11,11);
    font-family: 'Roboto Mono', monospace;
    color:#f4f9f9;
    width: 100%;
    padding: 150px 20px 150px 20px;
    max-height: 10em;
}
/* Media Styles */
.video {
    width: 100%;
}
.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/img/hero/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -50;
}
/* Misc Styles */
.navbar-toggler-icon {
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.cf-element {
    padding: 10px;
}
