/* Core Styles */
html {
  scroll-behavior: smooth;
  width: 100% auto;
  height: 100%;
  overflow-x: hidden;
}
body {
    background: #E6E8E6;
    scrollbar-color: rgb(50,50,50) rgb(11,11,11);
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
}
a {
color: #1B6D88;
font-weight: normal;
text-decoration: none;
}
a:hover {
color: #1B6D88;
text-decoration: underline!important;
text-decoration-color:#1B6D88;
}
/* scroll indicator style */
.scroll-indicator {
  position: relative;
  bottom: 10vh;
  /* TODO: Make this unhidden when pushed up */
  z-index: 1;
  right: 1.5vw;
}
@media only screen and (min-width:320px) and (max-width: 1170px) {
  .scroll-indicator {
    position: relative;
    bottom: 2vh;
  }
}
.svg {
  height: 46px;
  width: 17px;
}
.st0 {
  fill: none;
}
.st1 {
  fill: url(#grad2);
}
/* Section Styles */
.content-main {
  position: absolute;
  top: 100vh;
  width: 100%;
}
@media only screen and (min-width:320px) and (max-width: 1170px) {
  .content-main {
    position: absolute;
    top: 120vh;
  }
  .container-fluid {
    overflow-x: hidden;
  }
}
/* Misc Styles */
@media only screen and (min-width:320px) and (max-width: 1170px) {
  .content-main {
    position: absolute;
    top: 70vh;
  }
  .logo-container {
    max-width: 50%;
  }
}
.body-text {
    background: #E6E8E6;
    font-family: 'Roboto', sans-serif;
    color:#080708;
    width: 100%;
    padding: 50px;
}
.section-content {
  min-height: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (min-width:320px) and (max-width: 1170px) {
  .section-content {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.client-logo {
  max-height: 200px;
  margin-top: 2vh;
}
.d2d {
  max-width: 100%;
}
.client-name {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121619;
  font-weight: bolder;
  text-decoration-color: #121619;
  text-decoration: underline;
}
.client-name:hover {
  text-decoration: dotted underline;
}
.img-still {
  background-size: cover;
  min-height: 500px;
  width: 100%;
  transition: 0.1s;
}
@media only screen and (min-width:320px) and (max-width: 1170px) {
  .img-still {
    min-height: 250px!important;
    width: 100vw;
  }
}
.img-1 {
  background-image: url('/img/promo/stills/still_1.png');
}
.img-2 {
  background-image: url('/img/promo/stills/still_2.png');
}
.img-3 {
  background-image: url('/img/promo/stills/still_3.png');
}
.img-4 {
  background-image: url('/img/promo/stills/still_4.png');
}
.img-5 {
  background-image: url('/img/promo/stills/still_5.png');
}
.img-6 {
  background-image: url('/img/promo/stills/still_6.png');
}
/* Media Styles */
.hero-logo {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -50;
}
.logo-main {
  width: 100%;
  text-align: center;
}
.hero-video {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -100;
}
.hero-video-mobile {
  display: none;
  z-index: -100;
}
@media only screen and (min-width:320px) and (max-width: 1170px) {
  /* .hero-video {
    display: none;
  } */
  .hero-video-mobile {
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    /* left: -50vw; */
    right: -100vw;
    transform: scale(0.85);
  }
}

